<app-nav></app-nav>
<!-- END nav -->
<app-header></app-header>
<!-- END section -->

<section
  class="pb_section bg-light pb_slant-white pb_pb-250"
  id="section-features"
>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center mb-5">
        <h5
          class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"
        >
          <strong>¿Por qué?</strong>
        </h5>
        <h2>6 razones</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="icon-ico1 pb_icon-gradient"></i></div>

          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">
              Un oasis privado a 10 min de Coronado
            </h5>
            <p class="text-sans-serif">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="icon-ico2 pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">
              Pasar tiempo de calidad rodeado de montañas.
            </h5>
            <p class="text-sans-serif">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="icon-ico3 pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">
              Sendero ecológico bordeando un río.
            </h5>
            <p class="text-sans-serif">Podrás caminar o manejar bicicleta</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="icon-ico4 pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Cerca perimetral.</h5>
            <p class="text-sans-serif">
              Dentro del proyecto puedes caminar, correr, manejar bicicleta bajo
              completa seguridad.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="icon-ico5 pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Reconecta con tus seres queridos</h5>
            <p class="text-sans-serif">
              Villas de María como el tempo familiar que permitirá realinearte
              con tus seres queridos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="icon-ico6 pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Inversión</h5>
            <p class="text-sans-serif">
              Villas del María es una excelente oportunidad para invertir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="pb_section pb_slant-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5">
        <!-- <img src="assets/images/phone_3.png" alt="Image placeholder" class="img-fluid"> -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!4v1579137436989!6m8!1m7!1sCAoSLEFGMVFpcE93RG1scm5MczBtRXQ0YS1QQlV2dGhYOTc1MkxEeS1DbWtpbGd3!2m2!1d8.621814039732602!2d-79.91019700993634!3f273.4108452058264!4f-42.367924539987364!5f0.7820865974627469"
          width="350"
          height="713"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="col-lg-8 pl-md-5 pl-sm-0">
        <div class="row">
          <div class="col">
            <h2>Descripción de la Propiedad</h2>
            <p class="pb_font-20">
              Nuestras villas tienen espacio para desarrollar tu ambiente
              soñado.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="media pb_feature-v2 text-left mb-1 mt-1">
              <div class="pb_icon d-flex align-self-start pb_w-100"></div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">Ambiente Pacífico y Campestre</h3>
                <p class="text-sans-serif pb_font-16">
                  Rodeada de naturaleza, vistas de las montañas y con un
                  ambiente con aire puro y limpio.
                </p>
              </div>
            </div>

            <div class="media pb_feature-v2 text-left mb-1 mt-1">
              <div class="pb_icon d-flex align-self-start pb_w-100"></div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">
                  Exclusivo y con mucha seguridad
                </h3>
                <p class="text-sans-serif pb_font-16">
                  Comunidad cerrada de villas de campo con garita de seguridad.
                </p>
              </div>
            </div>
            <div class="media pb_feature-v2 text-left mb-1 mt-1">
              <div class="pb_icon d-flex align-self-start pb_w-100"></div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">
                  Sendero ecológico bordeando un río.
                </h3>
                <p class="text-sans-serif pb_font-16">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media pb_feature-v2 text-left mb-1 mt-1">
              <div class="pb_icon d-flex align-self-start pb_w-100"></div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">Clima Agradable</h3>
                <p class="text-sans-serif pb_font-16">
                  Hasta 20 grados en la noche.
                </p>
              </div>
            </div>

            <div class="media pb_feature-v2 text-left mb-1 mt-1">
              <div class="pb_icon d-flex align-self-start pb_w-100"></div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">
                  Cerca de todo y con fácil acceso
                </h3>
                <p class="text-sans-serif pb_font-16">
                  A pocos minutos de la ciudad capital, de centros urbanos,
                  comercios, centros comerciales, playas, hospitales y mucho
                  más. A solo 3 kilómetros de la Vía Panamericana, recorriendo
                  la carretera asfaltada y en perfecto estado de Bejuco-Sorá.
                </p>
              </div>
            </div>

            <div class="media pb_feature-v2 text-left mb-1 mt-1">
              <div class="pb_icon d-flex align-self-start pb_w-100"></div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">
                  Piscina, Parque, área social y otras amenidades
                </h3>
                <p class="text-sans-serif pb_font-16">
                  Comunidad cerrada de villas de campo con garita de
                  seguridad.Enorme área social de 2,500 m2, con piscina para
                  adultos y niños; gazebo y área de terraza para reuniones y
                  juegos infantiles.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="pb_section bg-light pb_slant-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-2">
        <!-- <img src="assets/images/phone_3.png" alt="Image placeholder" class="img-fluid"> -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106149.20865325969!2d-79.9871080110244!3d8.6158077112151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x97b620a2ad5c9f4f!2sVillas%20del%20Mar%C3%ADa!5e0!3m2!1ses-419!2spa!4v1579146701274!5m2!1ses-419!2spa"
          width="350"
          height="713"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="col-lg-8 pr-md-5 pr-sm-0 order-1  mb-5">
        <div class="row">
          <div class="col">
            <h2>La Zona</h2>
            <p class="pb_font-20">
              Cerca del estado de tranquilidad que buscas.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="media pb_feature-v2 text-left mb-1 mt-5">
              <div class="pb_icon d-flex mr-3 align-self-start pb_w-15">
                <i class="ion-ios-bookmarks-outline pb_icon-gradient"></i>
              </div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">Cerca de Río</h3>
                <p class="text-sans-serif pb_font-16">
                  Vivir, dormir o estar cerca de aguas naturales es
                  sorprendentemente bueno para la salud mental y el bienestar,
                  por lo mismo tener una propiedad con orilla de río, trae
                  enormes beneficios para usted.
                </p>
              </div>
            </div>

            <div class="media pb_feature-v2 text-left mb-1 mt-5">
              <div class="pb_icon d-flex mr-3 align-self-start pb_w-15">
                <i class="ion-ios-infinite-outline pb_icon-gradient"></i>
              </div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">A 10 minutos de Coronado</h3>
                <p class="text-sans-serif pb_font-16">
                  Vivir en la Montaña y pasar una parte del día en la playa es
                  posible.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media pb_feature-v2 text-left mb-1 mt-5">
              <div class="pb_icon d-flex mr-3 align-self-start pb_w-15">
                <i class="ion-ios-speedometer-outline pb_icon-gradient"></i>
              </div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">De fácil acceso</h3>
                <p class="text-sans-serif pb_font-16">
                  A solo 3 kilómetros de la Via Panamericana, camino hacia Altos
                  del María, y cerca de plazas, supermercados, restaurantes y
                  demás.
                </p>
              </div>
            </div>

            <div class="media pb_feature-v2 text-left mb-1 mt-5">
              <div class="pb_icon d-flex mr-3 align-self-start pb_w-15">
                <i class="ion-ios-color-filter-outline  pb_icon-gradient"></i>
              </div>
              <div class="media-body">
                <h3 class="mt-2 mb-2 heading">
                  Cosas que puedes hacer en la zona
                </h3>
                <p class="text-sans-serif pb_font-16">
                  Ir de excursión a los Cajones, Visitar Manantiales de
                  Sajalices, darse una vuelta por Parque Nacional Altos De
                  Campana, Conocer el pintoresco pueblo que se dedica a la venta
                  de flores y plantas. En cada casa hay un vivero con rosas con
                  papos exóticos etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pb_section bg-light pb_slant-white" id="section-pricing">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center mb-5">
        <h5
          class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"
        >
          <strong>Precio</strong>
        </h5>
        <h2>Oportunidad única en el mercado</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="pb_pricing_v1 p-5 border text-center bg-white">
          <h3>Modelo: Villa María Serena</h3>
          <span class="price"><sup>$</sup>181,800</span>
          <p class="pb_font-15">
            Hermosa comunidad cerrada de villas de campo, ubicada en Bejuco,
            Chame; a sólo 3 kilómetros de la Vía Panamericana, camino hacia
            Altos del María, usando la carretera Bejuco-Sorá. El Proyecto consta
            de 10 hectáreas con una primera fase de 30 unidades. Contará con
            todas las amenidades como garita de seguridad, área social con
            piscina, parques, senderos ecológicos, muchas áreas verdes y acceso
            a un hermoso río. Tenemos modelos de Villas que cuentan con acabados
            de alta calidad y diseñadas para disfrutar de la naturaleza. ¡Ven a
            visitarnos y conoce más de este paraíso! Tamaño de lote: 600mts,
            Tamaño Const: 178mts, Precio / mt2: $1,021, Cocina abierta, Vista de
            montañas, Terraza, Desayunador
          </p>
          <p class="mb-0">
            <a href="#" role="button" class="btn btn-secondary"
              >Aplicar a tu segunda vivienda</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ENDs ection -->

<section class="pb_section pb_slant-white" id="section-faq">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center mb-5">
        <h5
          class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"
        >
          <strong>El mejor momento para invertir</strong>
        </h5>
        <h2>Imagenes del Proyecto</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="pb_font-15">
          <iframe
            src="https://www.google.com/maps/embed?pb=!4v1579182878557!6m8!1m7!1sCAoSLEFGMVFpcE82eGZVeWF4TUQ3STZfdkEtMDhVNnBLMFVPb2EteVhZa0I4WEpm!2m2!1d8.621813999999999!2d-79.910197!3f172.2370782649488!4f-8.255765814702599!5f0.7820865974627469"
            width="100%"
            height="450"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="pb_xl_py_cover overflow-hidden pb_slant-light pb_gradient_v1 cover-bg-opacity-8"
  style=""
  id="contact"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 justify-content-center">
        <h2 class="heading mb-5 pb_font-40">
          Sea uno de nuestros 30 propietarios
        </h2>
        <div class="sub-heading">
          <p class="mb-4">
            Esta es una opotunidad única para adquirir una residencia de campo.
          </p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5"></div>
    </div>
  </div>
</section>
<!-- END section -->

<footer class="pb_footer bg-light" role="contentinfo">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#" class="p-2"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="p-2"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="p-2"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="pb_font-14">
          &copy; 2019. All Rights Reserved. <br />
          <a href="https://uicookies.com/bootstrap-html-templates/"
            >Bootstrap Templates</a
          >
          by uiCookies
        </p>
      </div>
    </div>
  </div>
</footer>
